#error-page {
  padding-top: 30vh;
  text-align: center;

  i {
    font-size: 3.5rem;
    color: #d7260f;
    line-height: 0;
  }

  .exclamation-circle-icon {
    margin-bottom: 1.5rem;
  }

  h1 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }

  #back-to-home-btn {
    white-space: nowrap;
    margin-top: 1rem;
    margin-right: 1rem;
    border: 0;
    border-bottom: 1px solid #785ef0;
    color: #785ef0;
    line-height: 1.5rem;
    background-color: transparent;
  }

  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
