#launch-window {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: var(--a11y-black-5);

  h1 {
    font-size: 1.75rem;
  }

  button {
    width: 9rem;
  }

  .loading-spinner {
    margin-bottom: 1.75rem;
  }

  #proceed-button {
    margin-left: 0.75rem;
  }
}
