.App {
  height: 100vh;
  overflow: auto;
  flex-grow: 1;
  width: 100vw;
  background-color: #FCFBFE;
  background: url(../assets/a11y-bg.svg), #FCFBFE;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
