@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.head {
  background-color: #4E42DA;
  width: 100%;
  padding: 48px 0;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

.help-title {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  color: #FFFFFF;
}

.help-tagline {
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
  padding-bottom: 24px;
}


.scan-button{
  background-color:#FFFFFF;
  border: 1px solid #4E42DA;
  border-radius: 50px;
  color: #4E42DA;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px 24px;
  cursor: pointer;
}
