#custom-flow {
    padding: 1rem;

    .custom-flow-header {
        margin-bottom: 1rem;
    }

    .custom-flow-header-content {
        display: flex;
        flex-direction: row; 
    }

    .custom-flow-header-title-container {
        padding: 1rem;
    }

    .custom-flow-header-step {
        color: #4A6168;
        font-weight: 700;
     }

    .custom-flow-header-url {
        color: #4A6168; 
    }

    .custom-label-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .custom-label-input {
        width: 100%;
        margin-bottom: 8px;
    }

    .custom-label-button {
        align-self: flex-end;
    }
}