.button-field{
  min-width: 80px;
  padding: 8px 24px;
  background: #4E42DA;
  border-radius: 50px;
  cursor: pointer;
  border: #4E42DA;
  margin-top: 16px;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
}

button:disabled, button[disabled] {
  background-color: rgba(78, 66, 218, .2)!important;
  color: #444!important;
}

.download-button{
  min-width: 80px;
  padding: 8px 24px;
  background: #4E42DA;
  border-radius: 50px;
  cursor: pointer;
  border: #4E42DA;
  margin-top: 16px;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  font-weight: 700;
}

button:focus {
  outline: 1;
}
