@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.error-msg {
  text-align: center;
}

.error-msg h1 {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.5;
  color: #4E42DA;
  margin: auto;
  margin-top: 15vh;
  margin-bottom: 16px;
  padding: 0 16px;
  text-align: center;
}
