.footer {
  background-color: #FFFFFF;
  width: 100%;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}

.footer-content {
  font-family: Lato;
  font-size: 14px;
  color: #444444;
}
