@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.header{
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.5;
  color: #4E42DA;
  margin: auto;
  margin-top: 15vh;
  margin-bottom: 32px;
  padding: 0 16px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 22px;
  }
}

.title{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #444444;
}

.help-link{
  color: rgba(0, 0, 0, 0.5);
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 430px;
  margin: auto;
  background: white;
  position: relative;
}

.card-title{
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  background: #7862DB;
  color: white;
  border-radius: 3px;
  padding: 10px;
}

.boy-img{
  position: absolute;
  bottom: 14vh;
  width: 13%;
  margin-left: 8%;
  left: 8%;
}

.girl-img{
  position: absolute;
  bottom: 8vh;
  width: 15%;
  margin-right: 8%;
  right: 8%;
}

.ground-img{
  margin-left: -50%;
  position: fixed;
  bottom: 0vh;
  width: 100%;


}

.developed-text{
  bottom: 0vh;
  padding-bottom: 24px;
  position: absolute;
  width: 100%;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.5;
  color: #444444;
  text-align: center;
}

.options-div{
  padding-top: 10px;
}

.advanced-options{

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: calc(0.3vw + 9px);
  line-height: 19px;
  text-align: center;

  text-decoration: none;
  color: #4E42DA;
}

.login-instructions{
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 14px;
  text-align: left;
  float: left;
  margin-left: 10%;
  margin-top: -2.5%;

  color: #7A7575;
}

.link-options{
  display: flexbox;
}
