@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.form-label{
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  text-align: left;
  float: left;
  margin-left: 10%;
}

.form-input{
  max-width: 496px;
  width: 60vw;
  padding: 10px 12px;
  font-size: 16px;
  line-height: 1.5;
  font-family: Lato;
  border-radius: 0;
  border: 1px solid #C8C8C8;
  border-left: 0;

}

input.form-input:focus {
  outline: 1;
}


.form-group{
  padding-bottom: 14px;
}
