@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.slider p {
  font-family: 'Lato';
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
  margin-bottom: 16px;
}

.slider h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 16px;
}

