@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,100;1,100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Viga");

#root {
  min-height: 100vh;
  width: 100vw;
  background-color: #f6f8f9;
  font-family: "Open Sans", "Helvetica", sans-serif;
}

.purple-text {
  color: #785ef0;
}

.error-text {
  color: #D7260F;
}

.bold-text {
  font-weight: bold;
}

button.primary {
  border-radius: 50rem;
  padding: 0.25rem 2rem;
  border: none;
  background-color: #785ef0;
  color: white;
  transition: 0.1s background-color;
}

button.primary:hover {
  background-color: #6650cc;
}

button.secondary {
  border-radius: 50rem;
  padding: 0.25rem 2rem;
  border: 1px solid #785ef0;
  background-color: #f6f8f6;
  color: #785ef0;
  transition: 0.1s background-color, 0.1s color;
}

button.secondary:hover {
  background-color: #785ef0;
  color: white;
}

button.transparent {
  background-color: transparent;
  border: none;
}

a {
  color: #785ef0;
}

a:hover {
  color: #604bbf;
}

.loading-spinner {
    display: inline-block;
    width: 5rem;
    height: 5rem;
  }
  .loading-spinner:after {
    content: " ";
    display: block;
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    border-radius: 50%;
    border: 6px solid rgba(120, 94, 240, 0.3);
    border-top-color: #785ef0;
    animation: loading-spinner 1.2s linear infinite;
  }
  @keyframes loading-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }