@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,100;1,100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Viga");

#root {
  min-height: 100vh;
  width: 100vw;
  background-color: #f6f8f9;
  font-family: "Open Sans", "Helvetica", sans-serif;
}

.purple-text {
  color: #785ef0;
}

.error-text {
  margin: 0;
  color: #D7260F;
}

.bold-text {
  font-weight: bold;
}

button.primary {
  border-radius: 50rem;
  padding: 0.25rem 2rem;
  border: none;
  background-color: #785ef0;
  color: white;
  transition: 0.1s background-color;
}

button.primary:hover {
  background-color: #5B3BED;
}

button.secondary {
  border-radius: 50rem;
  padding: 0.25rem 2rem;
  border: 1px solid #785ef0;
  background-color: #f6f8f6;
  color: #785ef0;
  transition: 0.1s background-color, 0.1s color;
}

button.secondary:hover {
  background-color: #785ef0;
  color: white;
}

button.transparent {
  background-color: transparent;
  border: none;
}

a {
  color: #785ef0;
}

a:hover {
  color: #604bbf;
}

.loading-spinner {
    display: inline-block;
    width: 5rem;
    height: 5rem;
  }
  .loading-spinner:after {
    content: " ";
    display: block;
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    border-radius: 50%;
    border: 6px solid rgba(120, 94, 240, 0.3);
    border-top-color: #785ef0;
    animation: loading-spinner 1.2s linear infinite;
  }
  @keyframes loading-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .modal {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(1, 1, 1, 0.1);
  }

  .modal-container {
    width: 50vw;
    height: 80vh;
    padding: 32px; 
    background-color: #F6F8F9;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    
  }

  .modal-header-button {
    text-align: right;
  }

  .modal-body {
    padding: 0;
    margin: 0;
    border: 0;
  }

  .modal-desc {
    text-align: center;
    padding: 0 30px 0 30px;
  }

  .modal-footer-button {
    width: 100%;
    align-self: flex-end;
    align-items: center;
    display: flex;
  }

  .modal-full-button {
    width: 100%;
    border-radius: 4px !important;
  }

  .modal-half-button {
    width: 50%;
    border-radius: 4px !important;
  }

  .modal-right-button {
    margin: 0 0 0 5px;
  }
  
  .modal-left-button {
    margin: 0 5px 0 0;
  }

  .modal-img {
    margin: 30px 0 30px 0;
  }

  .display-block {
    display: block;
  }
  
  .display-none {
    display: none !important;
  }

  .page-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user-form {
    margin: 20px 0 40px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .user-form-field {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: right;
  }

  .user-form-label {
    font-weight: 700;
  }

  .user-form-input {
    box-sizing: border-box;
    background: white;
    border: 1px solid #B5C5CA;;
    border-radius: 4px;
  }

  @keyframes in {
    from {
      opacity: 0;
      transform: translateX(20px);
    } to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .in {
    animation: in 0.5s;
  }
  