@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,100;1,100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Viga");

body {
  background-color: #f6f8f9;
}

#root {
  min-height: 100vh;
  width: 100vw;
  font-family: "Open Sans", "Helvetica", sans-serif;
}

.purple-text {
  color: #785ef0;
}

.error-text {
  margin: 0;
  color: #D7260F;
}

.bold-text {
  font-weight: bold;
}

button.primary {
  border-radius: 50rem;
  padding: 0.25rem 2rem;
  border: none;
  background-color: #785ef0;
  color: white;
  transition: 0.1s background-color;
}

button.primary:hover {
  background-color: #5B3BED;
}

button.primary:active {
  background-color: #472BC4;
}

button.secondary {
  border-radius: 50rem;
  padding: 0.25rem 2rem;
  border: 1px solid #785ef0;
  background-color: #f6f8f6;
  color: #785ef0;
  transition: 0.1s background-color, 0.1s color;
}

button.secondary:hover {
  background-color: #EBE8FD;
  color: #5B3BED
}

button.secondary:active {
  background-color: #C0B4F8;
  color: #472BC4
}

button:disabled {
  background-color: #E7ECEE;
  color: #97ADB5;
  pointer-events: none;
}

button.transparent {
  background-color: transparent;
  border: none;
}

a {
  color: #785ef0;
}

a:hover {
  color: #604bbf;
}

.loading-spinner {
    display: inline-block;
    width: 5rem;
    height: 5rem;
  }
  .loading-spinner:after {
    content: " ";
    display: block;
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    border-radius: 50%;
    border: 6px solid rgba(120, 94, 240, 0.3);
    border-top-color: #785ef0;
    animation: loading-spinner 1.2s linear infinite;
  }
  @keyframes loading-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .onboarding-carousel {
    list-style-type: none;
    padding: 0; 
    margin: 0;
    display: flex;
    width: 100%;
    overflow: hidden;
  }

  .onboarding-carousel-item {
    flex: 0 0 100%; 
  }

  .onboarding-modal .modal-content {
    max-width: 450px;
    min-height: 600px;
  }

  .onboarding-modal .modal-title {
    margin-bottom: 1rem;
  }

  .onboarding-modal .modal-body {
    display: flex;
    flex-direction: column;
  }

  .onboarding-modal .modal-body:focus {
    outline: none;
  }

  .onboarding-modal .user-form {
    min-height: 160px;
  }

  .onboarding-modal .modal-img-container {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .modal {
    display: flex;
    align-items: center;  
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .modal-content {
    border: none;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
    background-color: #F6F8F9;
    color: #333333;
  }

  .modal-header {
    border: none;
    padding-bottom: 0px;
  }

  .modal-header .btn-close {
    border-radius: 50%;
    background-color: #E7ECEE;
    margin: 0;
  }

  .modal-desc {
    flex-grow: 1;
  }

  .modal-button {
    border-radius: 4px !important;
  }

  .modal-full-button {
    width: 100%;
    border: 1px solid #785efd !important;
    margin: 0;
  }

  .modal-half-button {
    width: 50%;
  }

  .modal-right-button {
    margin: 0 0 0 5px;
    border: 1px solid transparent !important;
  }
  
  .modal-left-button {
    margin: 0 5px 0 0;
  }

  .modal-footer {
    flex-wrap: nowrap;
  }

  .page-indicators {
    display: flex;
    justify-content: center;
  }

  .page-indicator-circle {
    width: 10px;
    border-radius: 50%;
    background-color: #B5C5CA;
    height: 10px;
    margin: 0 0.25rem;
  }

  .current {
    background-color: #785EF0;
  }

  .display-block {
    display: block;
  }

  .user-form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    color: #333333;
  }

  .user-form-field {
    display: grid;
    grid-template-columns: 30% 70%; 
    margin-bottom: 1rem;
    align-items: center;
  }

  .user-form-label {
    font-weight: 700;
    text-align: left;
  }

  .user-form-input {
    box-sizing: border-box;
    background: white;
    border: 1px solid #B5C5CA;;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
  }

  .user-form-error {
    margin-bottom: 8px;
    text-align: left;
  }

  .show {
    visibility: visible;
  }

  .hide {
    visibility: hidden;
  }

  .dropdown {
    position: relative;
  }

  .user-input-group .download-dropdown {
    width: 77%;
  }

  .dropdown-btn {
    border: 1px solid #B5C5CA;
    border-radius: 4px;
    display: flex;
  }

  .dropdown-list {
    position: absolute;
    width: 100%;
  }

  #dir-info {
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    padding: 0 0.25rem;
    white-space: nowrap;
  }

  .dropdown-list-item {
    list-style: none;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    overflow: hidden;
    width: 100%;
  }

  .change-download-btn {
    background-color: #fff;
    border-left: 1px solid #b5c5ca;
    padding: 4px 0 4px 8px;
  }

  .change-download-btn img {
    padding-bottom: 0.25rem;
  }

  .download-path {
    max-width: 90%;
  }

  .choose-dir-button:hover {
    background-color: #785EF0;
    color: white;
  }

  .active {
    background-color: #472BC4;
    color: white;
  }

  .img-button {
    background-color: transparent;
    border: none;
    margin-right: 5px;
    padding-top: 0px;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(20px);
    } to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .fade-in {
    animation: fade-in 0.5s;
  }

  @keyframes fade-out {
    from {
      opacity: 0;
      transform: translateX(-20px);
    } to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .fade-out {
    animation: fade-out 0.5s;
  }
  
#first-timer-2-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typewriter {
  position: absolute;
  left: 0;
  padding-left: 24px;
  padding-bottom: 28px;
  z-index: 2;
  color: #eb5d5e;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 2s steps(200, end);
  animation-delay: 0.5s;
  animation-fill-mode: both;
  max-width: max-content;
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

a {
  text-decoration: underline;
  color: #785EF0;
}

#box-arrow-right {
  padding-left: 0.25rem;
  padding-bottom: 0.5rem;
}