#result-page {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;

  #main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  #main-contents {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
  }

  #form-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .check-circle-icon {
    margin-bottom: 1.5rem;
  }

  .box-arrow-up-right-icon {
    margin-right: 0.5rem;
  }

  .download-icon {
    margin-right: 0.5rem;
  }

  
  // .bi-check-circle {
  //   font-size: 3rem;
  //   color: #039855;
  // }

  h1 {
    font-family: "Viga", "Helvetica", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
  }

  #mail-button {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
  }

  #view-button {
    width: 100%;
  }

  #download-button {
    margin-top: 1rem;
    display: block;
  }

  .bi-envelope {
    margin-right: 0.5rem;
  }

  .bi-box-arrow-up-right {
    -webkit-text-stroke: 1px;
    margin-right: 0.5rem;
  }

  .bi-download {
    margin-right: 0.5rem;
  }

  hr {
    border: 1px solid #b5c5ca;
    width: 115%;
    margin: 1.5rem 0;
  }

  #main-contents a {
    text-underline-offset: 0.5rem;
  }

  #main-contents a:before {
    // content: "\F116   ";
    // font-family: bootstrap-icons;
    // position: relative;
    // top: 2.5px;
  }

  .return-icon {
    margin-right: 0.5rem;
  }
}
