#result-page {
  padding: 1.5rem;
  display: flex;
  min-height: 100vh;

  #main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  #form-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .check-circle-icon {
    margin-bottom: 1.5rem;
  }

  .box-arrow-up-right-icon {
    margin-right: 0.5rem;
  }

  .box-arrow-up-right-icon svg {
    margin-top: -5px;
  }

  .download-icon {
    margin-right: 0.5rem;
  }

  // .bi-check-circle {
  //   font-size: 3rem;
  //   color: #039855;
  // }

  h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  #btn-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  #download-content {
    margin-bottom: 2rem;
    max-width: 600px;
    word-wrap: break-word;
  }

  #scan-again {
    white-space: nowrap;
    margin-top: 1rem;
    border: 0;
    border-bottom: 1px solid #785ef0;
    color: #785ef0;
    line-height: 1.5rem;
    background-color: transparent;
  }

  #download-button {
    margin-top: 1rem;
    display: block;
  }

  .bi-box-arrow-up-right {
    -webkit-text-stroke: 1px;
    margin-right: 0.5rem;
  }

  .bi-download {
    margin-right: 0.5rem;
  }

  #main-contents a {
    text-underline-offset: 0.5rem;
  }

  #other-actions {
    width: 100%;
    text-align: left;
    padding: 1rem;
    background-color: white;
    border: 1px solid #b5c5ca;
    border-radius: 4px;
  }

  #other-actions h2 {
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
  }

  #other-actions a {
    display: flex;
    text-decoration: none;
  }

  #other-actions img {
    margin-right: 0.5rem;
  }

  #main-contents a:before {
    // content: "\F116   ";
    // font-family: bootstrap-icons;
    // position: relative;
    // top: 2.5px;
  }

  .return-icon {
    margin-right: 0.5rem;
  }

  ul.actions-list {
    padding-left: 0;
    margin-bottom: 0;
  }

  ul.actions-list li {
    list-style-type: none;
  }

  ul.actions-list li:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .bi-envelope {
    margin-right: 0.5rem;
  }

  .bi-envelope-check {
    margin-right: 0.5rem;
  }

  .user-form-field {
    grid-template-columns: 20% 80%;
    margin-bottom: 1rem;
    align-items: center;
  }

  #mail-button {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
  }
}
